
main{
  width: 950px;
  height:auto;
  margin-left: 10%;
}

#toTop{
  outline: 0; //NEW
  display: block;
  position: fixed;
  box-sizing: border-box;
  height: 250px;
  left: -180px;
  transform: rotate(0deg);
  transition-property: all;
  transition-duration: .3s;
}
#toTop img{
  max-height: 100%;
}

aside{
  width: 490px;
  margin-left: 30px;
}

.article{
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  float: right;
  margin-top: 30px;
  background-color: white;
  font-size: 1.3em;
  //border-radius: 0px 30px 0px 0px;

}
.article a{
  color: #900000;
}
.article h1{
  margin: 40px 30px;
}
.article h2{
  margin-top: 1em;
  margin-left: 15px;
}
.author{
  height: 30px;
  margin-left: 30px;
}
.author > *{
  vertical-align: middle;
  margin-left: 10px;
}
.avatar{
  height:100%;
}
.article .date{
  margin-left: 40px;
}
#socialBar{
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 5px 40px;
}
/*#socialBar span{
  display: inline-block;
  float: left;
  line-height: 1.6em;
}*/
.socialButton{
  height: 40px;
  width: 40px;
  background-color: #765D20;
  float: left;
  margin-left: 5px;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  opacity: .5;
}
.socialButton:hover{
  //transform: rotate(45deg);
  cursor: pointer;
  opacity: 1;
}
.socialButton, .socialButton img{
  border-radius: 6px;
}
.articleImage{
  box-sizing: border-box;
  width: 95%;
  margin-top: 30px;
  margin-left: 25px;
}

.article p{
  margin-top: 1em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}
.miniTube{
  float:left;
  box-sizing: border-box;
  background: black;
  width: 490px;
  height: 180px;;
  margin-top: 30px;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.1em;
  font-family: inherit;
}
ytdescription{
  font-family: calistoga;
  color: whitesmoke;
}
