
main{
  width: 60%;
  height:auto;
  padding-left: 5px;
  overflow:auto; //NEW!
}

#toTop{
  display: block;
  position: fixed;
  box-sizing: border-box;
  height: 250px;
  left: -180px;
  transform: rotate(0deg);
  transition-property: all;
  transition-duration: .3s;
}
#toTop img{
  max-height: 100%;
}

aside{
//width: auto;
}

.article{
  width: 80%;
  height: auto;
  padding-bottom: 60px;
  float: right;
  margin-top: 30px;
  background-color: white;
  font-size: 1.3em;
  //border-radius: 0px 30px 0px 0px;

}
.article h1{
  margin: 40px 30px;
}
.article h2{
  margin-top: 1em;
  margin-left: 15px;
}
.author{
  height: 30px;
  margin-left: 30px;
}
.author > *{
  vertical-align: middle;
  margin-left: 10px;
}
.avatar{
  height:100%;
}
.article .date{
  margin-left: 40px;
}

.articleImage{
  box-sizing: border-box;
  width: 95%;
  margin-top: 30px;
  margin-left: 25px;
}

.article p{
  margin-top: 1em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}
.articleRightPanel {
  //width: 40%;
}
.featurette{
  margin-left: 5%;
}
#subscription{
  margin-left: 5%;
}
