main{
  width: 1540px;
  margin:auto;
  height:auto;
  margin-left: 180px;
  overflow:auto; //NEW!
}

.featurette{
  margin-left: 20px;
}
#subscription{
  background-color: whitesmoke;
  box-sizing: border-box;
  margin-left: 20px;
  height: 300px;
  padding-top: 50px;
}

