*{
  //display: block;
  padding: 0px;
  margin: 0px;
}
::selection {
  background: #D2A11B;
  color: white;
  //background: #2C1000;
}
title{
  display: none;
}
body{
  z-index: 1;
  font-size: 16px;
  background-color: tan;
  background-image: url(../resource/plaid-1024x768.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:cover;
  //font-family: 'EB Garamond', serif;
  color: #2c1000;
}

/* Header */
header{
  z-index: 2;
  box-sizing: border-box;
  //font-family: 'calistoga', regular;
  width: 100%;
  height: 200px;
  padding-left: 5%;
  background-color: #2C1000;
}
header img{
  float: left;
  height: 180px;
  transform: rotate(25deg);
  animation-name: "logo";
  animation-duration: .5s;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-delay: 1s;
}
@keyframes logo {
  0%{transform: rotate(25deg);}
  25%{transform: rotate(0deg)}
  50%{transform: rotate(25deg);}
  75%{transform: rotate(0deg);}
  100%{transform: rotate(25deg);}
}
header h1{
  float: left;
  position: relative;
  top: 30px;
  right: 20px;
  color: #D2A11B;
  text-transform: capitalize;
  font-size: 7em;
  text-shadow: 6px 6px #672800;
}
.headerBox{
  box-sizing: border-box;
  width: 40%;
  height: 100%;
  margin: 0px;
  //background-color: black;
  float:right;
  padding: 60px 0px 0px 0px;
}
.headerQuote{
  z-index: 3;
  //height: 50px;
  //width: 555px;
  //float: left;
  //position: absolute;
  //top: 50px;
  //left: 150px;
  color: #D2A11B;
  //white-space: normal;
}

/* Navigation Menu */
.menu{
  height: 52px;
  width: 100%;
  //background-color: #765D20;
  background-color: #2C1000;
  border-top: solid #672800 3px;
  position: sticky;
  top: 0px;
  z-index: 2;
  box-shadow: 0px 5px 2px #2c1000;
}
nav{
  height: 50px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  //background-color: #2C1000;
  //border-top: solid #672800 3px;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 2em;
  text-align: center;
  color: #D2A11B;
}
nav *{
  float: left;
}
nav a:link{
  color: #D2A11B;
}
nav a:visited{
  color: #D2A11B;
}
nav .button img{
  position: relative;
  top: 10px;
  left: 2px;
  height: 30px;
}
.button{
  position:relative;
  height: 50px;
  width: 200px;
}
.home{
  margin-left: 35px;
}
.button:hover{
  //color: #2C1000;
  background-color: #672800;
  border-radius: 0px 0px 5px 5px;
  transform: rotate(-2deg);
  //border: 1px #2C1000 solid;
  top: 2px;
  left: 2px;
  cursor: pointer;
}
button {
    display: inline-block;
    border: none;
    padding: .5rem 1rem;
    margin: 0;
    text-decoration: none;
    background: #2C1000;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #D2A11B;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

.miniTube{
  float:left;
  box-sizing: border-box;
  background: white;
  color: #2c1000;
  width: 490px;
  height: 200px;;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 1.5em;
  text-align: center;
}
.featurette{
  position: relative;
  box-sizing: border-box;
  width: 490px;
  height: 300px;
  float: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  //font-size: 2em;
  background-image: url(../resource/default-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}
#subscription{
  background-color:white;
  float:left;
  margin-top: 30px;
  width:490px;
  height: 200px;

}
#email{
  margin-left: 20px;
  height: 2em;
  width: 310px;
}
#emailError{
  color: red;
}
.description{
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100px;
  bottom: 0px;
  background-color: white;
  //white-space: nowrap;
  transition-property: all;
  transition-duration: .3s;
}
.articleType{
  box-sizing: border-box;
  background-color: white;
  color: #2c1000;
  height: 1.8em;
  width: 100px;
  float: right;
  font-size: 1.5em;
  text-align: center;
  padding-top: 6px;
  text-decoration: none;
  border-radius: 0px 10px 0px 0px;
  position: absolute;
  top: -1.8em;
  border-bottom: 1px beige solid;
}
h2{
  line-height: 45px;
  text-indent: 15px;
}
p{
  //display: inline-block;
  //box-sizing: border-box;
  margin-left: 15px;
  margin-right: 15px;
  text-overflow: clip;
  font-size: 1.3em;
}
.garamond{
  font-family: 'EB Garamond', serif;
}
.eMail{
  color: #765D20;
}
fauxlink{
  color: #765D20;
  font-weight: bold;
}
.object{
  display: block;
  position: relative;
  box-shadow: 0px 6px #2C1000;
}
.object:hover{
  //border: 4px solid #D2A11B;
  box-shadow: 0px 6px #D2A11B;
  filter: blur(0);
  //opacity: 1;
  //cursor: pointer;
}
.object:hover fauxlink{
  color: #D2A11B;
}
.object:active{
  //top: 6px;
  //box-shadow: 0px 0px;
  filter: blur(1px);
  color:black;
}
/* Responsive adjustments*/
@media (max-width: 1720px) {
  .headerBox{
    box-sizing: border-box;
    width: 800px;
    height: 50px;
    margin: 0px;
    //background-color: black;
    float:left;
    padding: 0px 0px 0px 0px;
  }
}
em{
  font-style: inherit;
  color: #765D20;
}
a{
  color: inherit;
}
.textLink{
  color: #765D20;
}
.textLink:hover{
  color: #d2a11b;
}
ul li{
  list-style-type: square;
  margin-left: 50px;
}
main{
  box-sizing: border-box;
  float: left;
  z-index: 1;
}
aside{
  float: left;
  box-sizing: border-box;
  position: relative;
  height: auto;
  //background-color: olivedrab;
  width: 40%;
}
footer{
  clear:both;
  z-index: 2;
  box-sizing: border-box;
  //font-family: 'garamond', serif;
  color: white;
  width: 100%;
  height: 60px;
  padding-top: 17px;
  text-align: center;
  background-color: #2C1000;
  box-sizing: border-box;
  position: relative;
  top: 30px;
}
