main{
  //background-color: olivedrab;
  opacity: 1;
  width: 60%;
  height: 1000px;
  margin-left: 20%;
  margin-right: 20%;
  overflow:auto; //NEW!
  position: relative;
  //top: 1000px;
}
.contactForm{
  box-sizing: content-box;
  background-color: white;
  width: 70%;
  height: 530px;
  margin-left: 15%;
  position: relative;
  top: 30px;
  padding-left: 30px;
  //padding-bottom: 50px;
  padding: 25px 30px 50px;
}
.contactForm *{
  //float:left;
  margin: 5px 20px;

}
.contactForm input{
  display: box;
  font-size: 1em;
}
.contactForm textarea{
  font-size: 1em;
  margin-top: 20px;
  padding: 5px;
  resize: none;
}

#emailError{
  color: red;
  font-size: 1.3em;
}
#email{
  box-sizing: border-box;
  height: 35px;
  width: 250px;
  padding-left: 10px;
}

/* IDEA: input[type=email]{
  box-sizing: border-box;
  height: 10px;
  font-family: monospace;
} */
