spine{
  width: 800px;
}
main{
  width: 800px;
}
.contactForm{
  box-sizing: border-box;
  background-color: white;
  width: 800px;
  height: 590px;
  //padding-left: 30px;
  padding: 25px 30px;
}
.contactForm *{
  //display: block;
  clear: both;
  margin: 5px 0px;

}
.contactForm input{
  display: box;
  font-size: 1em;
}
.contactForm textarea{
  font-size: 1em;
  //margin-top: 20px;
  padding: 5px;
  resize: none;
}


#emailError{
  color: #900000;
  font-size: 1.3em;
}
#email{
  box-sizing: border-box;
  height: 35px;
  width: 250px;
  padding-left: 10px;
}

/* IDEA: input[type=email]{
  box-sizing: border-box;
  height: 10px;
  font-family: monospace;
} */
