main{
 width: 1000px;
  margin-left: 22%;
}
aside{
  //width: 490px;
  margin-left: 30px;
}
.latest{
  box-sizing: border-box;
  width: 165px;
  height: 30px;
  background-color: #D2A11B;
  float: right;
  font-size: 1.2em;
  padding: 3px 6px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  z-index: 2;
  position: relative;
  left: 260px;
  top:10px;
  transform: rotate(30deg);

  animation-name: latest;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
}
@keyframes latest {
  0%{
    width: 165px;
    height: 30px;
    font-size: 1.2em;
    padding: 3px 6px;
  }
  20%{
    width: 210px;
    height: 40px;
    font-size: 1.55em;
    padding: 5px 1px;
    //font-weight: bold;
  }
  40%{
    width: 165px;
    height: 30px;
    font-size: 1.2em;
    padding: 3px 6px;
  }
}
#subscription{
  margin-left: 0px;
}
.news{
  box-sizing: border-box;
  width: 1000px;
  height: 200px;
  margin-top: 30px;

  background-image: url(../resource/default-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}
.news .date{
  margin-left: 15px;
}
.news .imageThumbnail{
  box-sizing: border-box;
  float: right;
  height: inherit;
  width: 200px;
}
.news .imageThumbnail img{
  max-height: 100%;
}
.wideDescription{
  box-sizing: border-box;
  position: absolute;
  float:right;
  width: 800px;
  height: 200px;
  bottom: 0px;
  background-color: white;
